.home-swiper .swiper-slide-1 {
    background: url(../../imgs/home-slide-1.jpg) no-repeat;
}

.home-swiper .swiper-slide-2 {
    background: url(../../imgs/home-slide-2.jpg) no-repeat;
}

.home-swiper .swiper-slide-3 {
    background: url(../../imgs/home-slide-3.jpg) no-repeat;
}

.home-swiper {
    padding: 0;
}

.home-swiper .swiper-slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    height: calc(100vh - 60px);
    max-height: 90rem;
}

.home-swiper .slide {
    width: 85rem;
    display: none;
}

.home-swiper .swiper-slide-active .slide {
    display: inline-block;
}

.home-swiper .slide span {
    display: block;
    font-size: 3rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation: fadeIn .2s linear backwards .2s;
    -webkit-text-stroke: rgb(0, 0, 0) 0.5px;
}

.home-swiper .slide h3 {
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn .2s linear backwards .4s;
}

.home-swiper .slide .btn {
    animation: fadeIn .2s linear backwards .6s;
}

.home-swiper .swiper-button-next,
.home-swiper .swiper-button-prev {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 7rem;
    background: var(--white);
    color: var(--black);
}

.home-swiper .swiper-button-next:hover,
.home-swiper .swiper-button-prev:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.home-swiper .swiper-button-next::after,
.home-swiper .swiper-button-prev::after {
    font-size: 2rem;
}

.home-swiper .swiper-button-prev {
    right: 7rem;
}

@media(max-width: 991px){
    .home-swiper .slide h3{
        font-size: 10vw;
    }
    .home-swiper .slide .btn{
        font-size: 1.5rem;
    }
}