.reviews .img-container {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 1rem;
}

.reviews {
    background: var(--light-bg);
    width: 100vw;
}

.reviews .slide {
    padding: 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    user-select: none;
}

.reviews .slide .stars {
    font-size: 1.7rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.reviews .slide p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.reviews .slide h3 {
    font-size: 2rem;
    color: var(--black)
}

.reviews .slide span {
    font-size: 1.5rem;
    color: var(--main-color)
}