.services .img-container {
    position: relative;
    aspect-ratio: 1/1;
    height: 7rem;
    margin: 0 auto;
}

.services .heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    cursor: pointer;
}

.services .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
}

.services .box-container .box:hover {
    background-color: var(--black);
}

.services .box-container .box h3 {
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

@media(max-width:450px){
    .services .heading-title{
        font-size: 3.5rem;
    }
}